[% IF title; %]12[% title; %][% END %]
[%- FOREACH entry IN xml.issues %]
[% IF entry.tags AND entry.tags.grep('.+').size > 0 %]12[% entry.tags.grep('.+').join(', ') %]: [% END %][% IF entry.assignee %][03[% entry.assignee %]] [% END %][% entry.title %] - 14[% entry.link %]
[%- END %]
